<h1><%= t('welcome_to_linssi') %> <%= session[:user_name] %> (<%=session[:user] %>)</h1>
<p>
  <%= link_to t('list_forms'), visitation_forms_path %> <br />
  <%= link_to t('new_visitation_form'), new_visitation_form_path %>
</p>
