<%= form_for(@visitation_form) do |f| %>
  <% if @visitation_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitation_form.errors.count, "error") %> prohibited this visitation_form from being saved:</h2>

      <ul>
      <% @visitation_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <script type="text/javascript">
        $(function() {
            $("#hurr").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "/api/getringer.json?filter=" + $("#hurr").val(),
                        success: function( data ) {
                            if(data.ringers != ''){
                                response( $.map( data.ringers.ringer, function( item ) {
                                    return {
                                        label: item.name,
                                        value: item.id
                                    }
                                }));
                            }
                        }
                    });
                },
                minLength: 3,
                select: function( event, ui ) {
                    $("#hurr").val('');
                    $("#visitation_form_photographer_id").val(ui.item.value);
                    $("#visitation_form_photographer_name").val(ui.item.label);
                    return false; // prevent jquery from setting hurr to value...
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
    </script>

    <div class="field">
      <label for="hurr">Hurr </label><br/>
      <input type="text" id="hurr" placeholder="Search"><span id="hurrname"></span>
    </div>



  <button id="insert_name_button"><%= t('fill_own_info') %></button>

  <div class="field">
    <%= f.label :photographer_id, t('photographer_id') %><br>
    <%= f.text_field :photographer_id %>
  </div>
  <div class="field">
    <%= f.label :photographer_name, t('photographer_name') %><br>
    <%= f.text_field :photographer_name %>
  </div>
  <div class="field">
    <%= f.label :visit_date, t('visit_date') %><br>
    <%= f.datetime_select :visit_date %>
  </div>

  <h2><%= t('camera_info') %></h2>

  <div class="field">
    <%= f.label :camera, t('camera') %><br>
    <%= f.text_field :camera %>
  </div>
  <div class="field">
    <%= f.label :lens, t('lens') %><br>
    <%= f.text_field :lens %>
  </div>
  <div class="field">
    <%= f.label :teleconverter, t('teleconverter') %><br>
    <%= f.text_field :teleconverter %>
  </div>

  <h2><%= t('nest_info') %></h2>

  <div class="field">
    <%= f.label :nest_id, t('nest_id') %><br>
    <%= f.text_field :nest_id %>
  </div>
  <div class="field">
    <%= f.label :municipality, t('municipality') %><br>
    <%= f.text_field :municipality %>
  </div>

  <div class="field">
    <%= f.label :nest, t('nest_name') %><br>
    <%= f.text_field :nest %>
  </div>

  <div class="actions">
    <%= f.submit(t('submit_visitation_form')) %>
  </div>

  <script>
    var user = "<%= session[:user] %>";
    $("#insert_name_button").on("click", function (e) {
        e.preventDefault();
        $("#visitation_form_photographer_name").val(user);
    });
  </script>
<% end %>
