<%=javascript_include_tag('File-Upload/js/jquery.fileupload')  %>
<%=javascript_include_tag('File-Upload/js/jquery.iframe-transport')  %>

<%= form_for(@visitation_form, multipart: true) do |f| %>
    <% if @visitation_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors_in_form') %></h2>
          <ul>
            <% @visitation_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <% if !@visitation_form.nil? && !@visitation_form.audit_log_entries.nil? %>
        <div class="log">
          <h2><%=t('form_history')%></h2>
          <table>
            <% @visitation_form.audit_log_entries.reverse_each do |entry| %>
                <tr><td><%= entry.timestamp.strftime("%d.%m.%Y")  %></td><td><%= entry.username %></td><td><%= t('log_' + entry.operation) %></td></tr>
            <% end %>
          </table>
        </div>
    <% end %>


    <div class="boxed" id="owners">
      <h2><%=t('form_owners')%></h2>
      <ul id="owners_list">
        <% if @visitation_form.owners.count > 0 %>
            <% @visitation_form.owners.each  do |owner| %>
                <li><input name="owners[][name]" type="text" value="<%=owner.owner_name %>"><input value="<%=owner.owner_id %>" name="owners[][id]" type="hidden"> <a class="delete_owner" href="#"><%=t('delete')%></a></li>
            <% end %>
        <% else %>
            <li><input value="<%=@user[:user_name] %>"  name="owners[][name]" type="text"><input value="<%=@user[:login_id] %>" name="owners[][id]" type="hidden"> <a class="delete_owner" style="display: none" href="#"><%=t('delete')%></a></li>
        <% end %>
      </ul>

      <button type="button" id="add_owner_button" ><%=t('add_owner')%></button>
    </div>


    <div class="boxed">
      <h2><%= t('visit_info') %></h2>
      <%= f.hidden_field :uuid, value: @uuid %>
      <%= f.hidden_field :photographer_id %>
      <div class="field">
        <%= f.label :photographer_name %>
        <%= f.text_field :photographer_name %>
        <button id="insert_name_button"><%= t('fill_own_info') %></button>
      </div>

      <div class="field">
        <%= f.label :visit_date %>
        <% if (f.object.visit_date.nil?) %>
            <%= f.text_field :visit_date %>
        <% else %>
            <%= f.text_field :visit_date, value: f.object.visit_date.strftime("%d.%m.%Y") %>
        <% end %>
      </div>
    </div>

    <div class="boxed">
        <h2><%= t('camera_info') %></h2>
        <div class="field">
            <%= f.label :camera %>
            <%= f.text_field :camera %>
        </div>
        <div class="field">
            <%= f.label :lens %>
            <%= f.text_field :lens %>
        </div>
        <div class="field">
            <%= f.label :teleconverter %>
            <%= f.text_field :teleconverter %>
        </div>
    </div>

    <div class="boxed">
      <h2><%= t('nest_info') %></h2>
      <div class="field">
        <%= f.label :species_id %>
        <%= f.select :species_id, @species['species'].map {|v| [ v['id'], v['id'] ] } %>
      </div>
      <div class="field">
        <%= f.label :nest_id %>
        <%= f.number_field :nest_id %>
      </div>
      <div class="field">
        <%= f.label :municipality %>
        <%= f.text_field :municipality %>
      </div>
      <div class="field">
        <%= f.label :nest %>
        <%= f.text_field :nest %>
      </div>
    </div>



    <h1><%= t('images') %></h1>

    <div id="birds-div">
        <% index = 1 %>
        <% @visitation_form.birds.each do |bird| %>
          <div class="bird-div boxed">
            <%= link_to t('delete') + " " + t('bird'), {action: :delete_bird, bird_id: bird.id.to_s}, class: "delete_bird" %>
            <div class="birds" id="birds_1">
              <h2><%= t('bird') %> <%= index %></h2>

              <input type="hidden" name="birds[][id]" value="<%= bird.id %>">

              <div class="field">
                <%= f.label "birds[][gender]", t('gender') %>
                <%= select_tag "birds[][gender]",  options_for_select(@genders['codes']['code'].map {|v| [ v['desc'][0]['content'], v['code'] ] }, bird.gender) %>
              </div>
              <div class="field">
                <%= f.label "birds[][shyness]", t('shyness') %>
                <%= select_tag "birds[][shyness]",  options_for_select(@shyness['codes']['code'].map {|v| [ v['desc'][0]['content'], v['code'] ] }, bird.shyness) %>
              </div>
              <div class="field">
                <%= f.label "birds[][left_ring_code]", t('left_ring_code') %>
                <input type="text" name="birds[][left_ring_code]" value="<%= bird.left_ring_code %>">
              </div>
              <div class="field">
                <%= f.label "birds[][left_ring_color]", t('left_ring_color') %>
                <input type="text" name="birds[][left_ring_color]" value="<%= bird.left_ring_color %>">
              </div>
              <div class="field">
                <%= f.label "birds[][right_ring_code]", t('right_ring_code') %>
                <input type="text" name="birds[][right_ring_code]" value="<%= bird.right_ring_code %>">
              </div>
              <div class="field">
                <%= f.label "birds[][right_ring_color]", t('right_ring_color') %>
                <input type="text" name="birds[][right_ring_color]" value="<%= bird.right_ring_color %>">
              </div>

              <div class="field">
                <%= f.label"files[]", t('file') %>
                <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 1, "birdId": <%= bird.id %>, "uuid": "<%= @uuid %>", "formId": <%= @visitation_form.id %> }' multiple="multiple" accept="image/*" />
              </div>
              <div class="images">

                <% bird.images.reverse_each do |img| %>
                    <div class="image">
                      <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete", id: img[:id] %>)<br />
                      <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
                    </div>
                <% end %>

                <% index += 1 %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
    <button type="button" id="addbird"><%= t('add_bird') %></button>


    <div class="birds boxed" id="birds_3">
      <h2><%= t('young_images') %></h2>
      <div class="field">
        <%= f.label "images[young][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 3, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @young_images %>
            <% @young_images.reverse_each do |img| %>
                <div class="image">
                    <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete", id: img[:id] %>)<br />
                    <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>


    <div class="birds boxed" id="birds_5">
      <h2><%= t('nest_images') %></h2>
      <div class="field">
        <%= f.label "images[nest][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 5, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @nest_images %>
            <% @nest_images.reverse_each do |img| %>
                <div class="image">
                  <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete", id: img[:id] %>)<br />
                  <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="birds boxed" id="birds_4">
      <h2><%= t('landscape_images') %></h2>
      <div class="field" >
        <%= f.label "images[landscape][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 4, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @landscape_images %>
            <% @landscape_images .reverse_each do |img| %>
                <div class="image">
                  <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete", id: img[:id] %>)<br />
                  <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
                </div>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="boxed">
      <h2><%= t('additional_info', scope: [:activerecord, :attributes, :visitation_form]) %></h2>
      <div class="field">
        <%= f.text_area :additional_info %>
      </div>
    </div>


    <div class="actions">
      <%= f.submit(t('save_visitation_form'), :name => 'save') %>
      <%= f.submit(t('submit_visitation_form'), :name => 'submit') %>
    </div>


<% end %>

<script type="text/javascript">
    // Update the headers with correct numbers after a bird has been removed
    function updateBirdHeaders() {
        var divs = $("#birds-div .bird-div");
        for(var i = 0; i < divs.length; i++) {
            $("h2", divs[i]).html("<%= t('bird') %> " + (i+1));
        }
    }

    $(document).on("click", "a.delete", function(e) {
        e.preventDefault();
        if(confirm("<%= t('confirm_delete') %>"))
        {
            var url = $(e.target).attr("href");
            var jqxhr = $.ajax(url)
                    .done(function() {
                        $(e.target).closest("div").remove();
                    })
                    .fail(function() {
                        alert( "Failed deleting =/" );
                    });
        }
    });

    $(function() {
        $("#addbird").on("click", function () {
            $.ajax({
                url: "<%= url_for ({action: :create_bird, form_id: @visitation_form.id.to_s}) %>",
                success: function( data ) {
                    var count = $("#birds-div .bird-div").length;
                    var div = $(".bird-div:last").clone(false);
                    $("h2", div).html('<%= t('bird') %> ' + (count + 1));
                    $(".image", div).html('');
                    $("a.delete_bird", div).attr("href", "<%= url_for action: :delete_bird %>?bird_id=" + data.bird_id);
                    $("input[type=hidden]", div).val(data.bird_id);
                    $("input[type=text]", div).val('');
                    $("input[class=fileupload]", div).attr('data-form-data', '{ "imageType": 1, "birdId": ' + data.bird_id + ', "uuid": "<%= @uuid %>", "formId": <%= @visitation_form.id %> }');
                    $("#birds-div").append(div);
                }
            });
        });
    });

    $(document).on("click", "a.delete_bird", function(e) {
        e.preventDefault();
        if(confirm("<%= t('confirm_delete') %>"))
        {
            if($("#birds-div .bird-div").length == 1) {
                alert("<%= t('error_must_have_one_bird') %>");
            }
            else {
                var url = $(e.target).attr("href");
                var jqxhr = $.ajax(url)
                        .done(function() {
                            $(e.target).closest("div").remove();
                            updateBirdHeaders();
                        })
                        .fail(function() {
                            alert( "Failed deleting =/" );
                        });
            }
        }
    });

    $(function() {
       $("#add_owner_button").on("click", function() {
           var newInput = '<li><input name="owners[][name]" type="text"><input name="owners[][id]" type="hidden"> <a class="delete_owner" href="#"><%=t('delete')%></a></li>';
           $("#owners_list").append(newInput);
           $("#owners_list a").show();
       })
    });

    $(document).on("click", ".delete_owner", function(e) {
        e.preventDefault();
        $(this).closest("li").remove();

        // If there is only one owner left, hide the delete link
        if ($("#owners_list li").length == 1) {
            $("#owners_list a").hide();
        }
    });


    $(document).on("click", "#owners input[type=text]", function () {
        $("#owners input[type=text]").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "<%= url_for(action:"getringer", controller:"api") %>.json?filter=" + request.term,
                    success: function( data ) {
                        if(data.ringers != ''){
                            response( $.map( data.ringers.ringer, function( item ) {
                                return { label: item.name, value: item.id }
                            }));
                        }
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                $(event.target).closest("input[type=text]").val(ui.item.label);
                $(event.target).next("input[type=hidden]").val(ui.item.value);
                return false;
            }
        });
    });


    $(function() {
        $("#visitation_form_photographer_name").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "<%= url_for(action:"getringer", controller:"api") %>.json?filter=" + request.term,
                    success: function( data ) {
                        if(data.ringers != ''){
                            response( $.map( data.ringers.ringer, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.id
                                }
                            }));
                        }
                    }
                });
            },
            minLength: 3,
            select: function(event, ui) {
                $("#visitation_form_photographer_id").val(ui.item.value);
                $("#visitation_form_photographer_name").val(ui.item.label);
                return false; // prevent jquery from overwriting the value
            }
        });


        $("#visitation_form_municipality").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= url_for(action:"getmunicipalities", controller:"api") %>.json?filter=" + request.term,
                    success: function( data ) {
                        if(data.municipalities != ''){
                            response( $.map( data.municipalities.municipality, function( item ) {
                                return {
                                    label: item.name[0].content + " (" + item.id + ")",
                                    value: item.id
                                }
                            }));
                        }
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                // Do something else?
            }
        });
    });

    $(document).on("click", ".fileupload", function () {
        var targetDiv = $(this).closest( ".bird-div" );
        $('.fileupload').fileupload({
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
            },
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    var imagediv = $('<div class="image" />');
                    imagediv.append(file.name + " (");
                    imagediv.append($('<a class="delete">Poista</a>').attr({ 'href': '<%= url_for(:controller => 'images', :action => 'delete', :id => nil) %>/' + file.id + '?uuid=<%= @uuid %>' }).attr({ 'id': file.id}));
                    imagediv.append(")<br/>");
                    imagediv.append($('<img />').attr({ 'src': '<%= url_for(:controller => 'images', :action => 'thumbnail', :id => nil) %>/' + file.id, 'alt': file.name }));

                    if(file.imageType == 1) {
                        targetDiv.append(imagediv);
                    }
                    else {
                        $("#birds_" + file.imageType).append(imagediv);
                    }
                });
            },
            error: function(xhr) {
                var json = $.parseJSON(xhr.responseText);
                alert("<%= t('error_while_uploading') %>" +"\n" + json.errors);
            }
        });
    });


    $(function () {
        $("#insert_name_button").on("click", function (e) {
            e.preventDefault();
            $("#visitation_form_photographer_name").val("<%= @user[:user_name] %> (<%= @user[:login_id] %>)");
            $("#visitation_form_photographer_id").val("<%= @user[:login_id] %>");
        });

        // Id needs to be cleared if not a valid photographer
        $("#visitation_form_photographer_name").on("keyup", function (e) {
            $("#visitation_form_photographer_id").val('');
        });

        // Forcing nest id to only numbers
        $('#visitation_form_nest_id').on("keydown keydown change", function() {
            this.value = this.value.replace(/\D/g, '');
        });

        $("#visitation_form_visit_date").datepicker({ dateFormat: 'dd.mm.yy', maxDate: new Date() });

        // Prevent submitting on enter
        $('form').on("keypress keyup keydown", function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>