<%=javascript_include_tag('File-Upload/js/jquery.fileupload')  %>
<%=javascript_include_tag('File-Upload/js/jquery.iframe-transport')  %>

<%= form_for(@visitation_form, multipart: true) do |f| %>
    <% if @visitation_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors_in_form') %></h2>
          <ul>
            <% @visitation_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="boxed">
      <%= f.label :species_id %>
      <%= f.select :species_id, @species['species'].map {|v| [ v['id'], v['id'] ] } %>
    </div>

    <%# f.select :municipality, @species['species'].map {|v| [ v['id'], v['id'] ] } %>

    <div class="boxed" id="owners">
      <h2><%=t('form_owners')%></h2>
      <ul id="owners_list">
        <% if @visitation_form.owners.count > 0 %>
            <% count = 1 %>

            <% @visitation_form.owners.each  do |owner| %>
                <% if count== 1%>
                    <li><input id="owner<%=count%>" name="owners[][name]" type="text" value="<%=owner.owner_name %>"><input value="<%=owner.owner_id %>" id="owner<%=count%>_id" name="owners[][id]" type="hidden"></li>
                <% else %>
                    <li><input id="owner<%=count%>" name="owners[][name]" type="text" value="<%=owner.owner_name %>"><input value="<%=owner.owner_id %>" id="owner<%=count%>_id" name="owners[][id]" type="hidden"> <a class="delete_owner" href="#"><%=t('delete')%></a></li>
                <% end %>
                <%count = count + 1 %>
            <% end %>

        <% else %>

            <li><input id="owner1" name="owners[][name]" type="text"><input id="owner1_id" name="owners[][id]" type="hidden"></li>

        <% end %>
      </ul>


      <button type="button" id="add_owner_button" ><%=t('add_owner')%></button>



    </div>



    <div class="boxed">
      <%= f.hidden_field :uuid, value: @uuid %>

      <%= f.hidden_field :photographer_id %>
      <div class="field">
        <%= f.label :photographer_name %>
        <%= f.text_field :photographer_name %>
        <button id="insert_name_button"><%= t('fill_own_info') %></button>
      </div>

      <div class="field">
        <%= f.label :visit_date %>
        <% if (f.object.visit_date.nil?) %>
            <%= f.text_field :visit_date %>
        <% else %>
            <%= f.text_field :visit_date, value: f.object.visit_date.strftime("%d.%m.%Y") %>
        <% end %>
      </div>
    </div>

    <div class="boxed">
        <h2><%= t('camera_info') %></h2>
        <div class="field">
            <%= f.label :camera %>
            <%= f.text_field :camera %>
        </div>
        <div class="field">
            <%= f.label :lens %>
            <%= f.text_field :lens %>
        </div>
        <div class="field">
            <%= f.label :teleconverter %>
            <%= f.text_field :teleconverter %>
        </div>
    </div>

    <div class="boxed">
      <h2><%= t('nest_info') %></h2>
      <div class="field">
        <%= f.label :nest_id %>
        <%= f.number_field :nest_id %>
      </div>
      <div class="field">
        <%= f.label :municipality %>
        <%= f.text_field :municipality %>
      </div>

      <div class="field">
        <%= f.label :nest %>
        <%= f.text_field :nest %>
      </div>
    </div>



    <h1><%= t('images') %></h1>

    <div id="birds-div">
      <div class="bird-div boxed">
        <div class="birds" id="birds_1">
          <h2><%= t('bird') %> 1</h2>
          <div class="field">
            <%= f.label"images[birds][bird1][files][img1]", t('file') %>
            <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 1, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
          </div>
          <div class="images">
            <% if defined? @bird1_images %>
                <% @bird1_images.reverse_each do |img| %>
                    <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete" %>)<br />
                    <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br /><br/>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <button type="button" id="addbird"><%= t('add_bird') %></button>


    <div class="birds boxed" id="birds_3">
      <h2><%= t('young_images') %></h2>
      <div class="field">
        <%= f.label "images[young][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 3, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @young_images %>
            <% @young_images.reverse_each do |img| %>
                <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete" %>)<br />
                <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br /><br/>
            <% end %>
        <% end %>
      </div>
    </div>


    <div class="birds boxed" id="birds_5">
      <h2><%= t('nest_images') %></h2>
      <div class="field">
        <%= f.label "images[nest][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 5, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @nest_images %>
            <% @nest_images.reverse_each do |img| %>
                <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete" %>)<br />
                <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br /><br/>
            <% end %>
        <% end %>
      </div>
    </div>

    <div class="birds boxed" id="birds_4">
      <h2><%= t('landscape_images') %></h2>
      <div class="field" >
        <%= f.label "images[landscape][img1]", t('file') %>
        <input class="fileupload" type="file" name="files[]" data-url="<%= images_url %>" data-form-data='{ "imageType": 4, "uuid": "<%= @uuid %>" }' multiple="multiple" accept="image/*" />
      </div>
      <div class="images">
        <% if defined? @landscape_images %>
            <% @landscape_images .reverse_each do |img| %>
                <%= img[:original_filename] %> (<%= link_to t("delete"), { action: "delete", controller:"images", id: img[:id] }, class: "delete" %>)<br />
                <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br /><br/>
            <% end %>
        <% end %>
      </div>
    </div>


    <div class="actions">
      <%= f.submit(t('save_visitation_form'), :name => 'save') %>
      <%= f.submit(t('submit_visitation_form'), :name => 'submit') %>
    </div>


<% end %>

<script type="text/javascript">
    $(function () {
        $('a.delete').click(function(){
            return confirm("<%= t('confirm_delete') %>");
        });
    });

    $(function() {
        $("#addbird").on("click", function () {
            var count = $("#birds-div .bird-div").length + 1;
            var newDiv =
                    '<div class="bird-div boxed">' +
                            '<h2><%= t('bird') %> ' + count + '</h2><div class=\"field\"><label for=\"visitation_form_images_bird' + count + '_info_gender\"><%= t('gender') %></label>' +
                            '<input id=\"visitation_form_images_bird' + count + '_info_gender\" type=\"text\" name=\"visitation_form[images][birds][bird' + count + '][info][gender]\">' +
                            '</div>' +
                            '<div class=\"field\">' +
                            '<label for=\"visitation_form_images[bird' + count + '][img1]\"><%= t('file') %></label>' +
                            '<input id=\"visitation_form_images[birds][bird' + count + '][img1]\" type=\"file\" accept=\"image/*\" name=\"visitation_form[images[birds][bird' + count + '][files][img1]]\">' +
                            '</div>' +
                            '</div>';

            $("#birds-div").append(newDiv);
        })
    });

    $(function() {
       $("#add_owner_button").on("click", function() {
           var count = $("#owners li").length + 1;
           var newInput = '<li><input id="owner' + count + '" name="owners[][name]" type="text"><input id="owner'+ count +'_id" name="owners[][id]" type="hidden"> <a class="delete_owner" href="#"><%=t('delete')%></a></li>';
           $("#owners_list").append(newInput);
           add_autocomplete("owner"+ count);
       })

    });


    $(document).on("click", ".delete_owner", function(e) {
        $(this).closest("li").remove();
    });

    function add_autocomplete(id)
    {
        id = "#" + id;
        $(id).autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= url_for(action:"getringer", controller:"api") %>.json?filter=" + $(id).val(),
                    success: function( data ) {
                        if(data.ringers != ''){
                            response( $.map( data.ringers.ringer, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.id
                                }
                            }));
                        }
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                $(id + "_id").val(ui.item.value);
                $(id).val(ui.item.label);
                return false; // prevent jquery from setting hurr to value...
            }
        });
    }

    add_autocomplete("owner1");

    $(function() {
        $("#visitation_form_photographer_name").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= url_for(action:"getringer", controller:"api") %>.json?filter=" + $("#visitation_form_photographer_name").val(),
                    success: function( data ) {
                        if(data.ringers != ''){
                            response( $.map( data.ringers.ringer, function( item ) {
                                return {
                                    label: item.name,
                                    value: item.id
                                }
                            }));
                        }
                    }
                });
            },
            minLength: 3,
            select: function( event, ui ) {
                $("#visitation_form_photographer_id").val(ui.item.value);
                $("#visitation_form_photographer_name").val(ui.item.label);
                return false; // prevent jquery from setting hurr to value...
            }
        });


        $("#visitation_form_municipality").autocomplete({
            source: function( request, response ) {
                $.ajax({
                    url: "<%= url_for(action:"getmunicipalities", controller:"api") %>.json?filter=" + $("#visitation_form_municipality").val(),
                    success: function( data ) {
                        if(data.municipalities != ''){
                            response( $.map( data.municipalities.municipality, function( item ) {
                                return {
                                    label: item.name[0].content + " (" + item.id + ")",
                                    value: item.id
                                }
                            }));
                        }
                    }
                });
            },
            minLength: 1,
            select: function( event, ui ) {
                // Do something else?
            }
        });
    });

    $(function () {
        $('.fileupload').fileupload({
            dataType: 'json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
            },
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                    $('<img />').attr({ 'src': '<%= url_for(:controller => 'images', :action => 'thumbnail', :id => nil) %>/' + file.id, 'alt': file.name }).appendTo($("#birds_" + file.imageType));
                });
            },
            error: function(xhr) {
                var json = $.parseJSON(xhr.responseText);
                alert("<%= t('error_while_uploading') %>" +"\n" + json.errors);
            }
        });
    });

    $(function () {
        $("#insert_name_button").on("click", function (e) {
            e.preventDefault();
            var userid = "<%= @user[:login_id] %>";
            var username = "<%= @user[:user_name] %>";
            $("#visitation_form_photographer_name").val(username + " (" + userid + ")");
            $("#visitation_form_photographer_id").val(userid);
        });

        // Id needs to be cleared if not a valid photographer
        $("#visitation_form_photographer_name").on("keyup", function (e) {
            $("#visitation_form_photographer_id").val('');
        });

        // Forcing nest id to only numbers
        $('#visitation_form_nest_id').on("keydown keydown change", function() {
            this.value = this.value.replace(/\D/g, '');
        });

        $("#visitation_form_visit_date").datepicker({ dateFormat: 'dd.mm.yy', maxDate: new Date() });

        // Prevent submitting on enter
        $('form').on("keypress keyup keydown", function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>