<%= form_for(@visitation_form) do |f| %>
  <% if @visitation_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitation_form.errors.count, "error") %> prohibited this visitation_form from being saved:</h2>

      <ul>
      <% @visitation_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input id="insert_name_button" type="button" value="Use my name" />

  <div class="field">
    <%= f.label :photographer_name %><br>
    <%= f.text_field :photographer_name %>
  </div>
  <div class="field">
    <%= f.label :visit_date %><br>
    <%= f.datetime_select :visit_date %>
  </div>

  <h2>Camera info</h2>

  <div class="field">
    <%= f.label :camera %><br>
    <%= f.text_field :camera %>
  </div>
  <div class="field">
    <%= f.label :lens %><br>
    <%= f.text_field :lens %>
  </div>
  <div class="field">
    <%= f.label :teleconverter %><br>
    <%= f.text_field :teleconverter %>
  </div>

  <h2>Nest location</h2>

  <div class="field">
    <%= f.label :municipality %><br>
    <%= f.text_field :municipality %>
  </div>

  <div class="field">
    <%= f.label :nest, "Nest name" %><br>
    <%= f.text_field :nest %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <script>
    var user = <%= session[:user] %>;
    $("#insert_name_button").on("click", function (e) {
        $("visitation_form_photographer_name").setValue(user);
    });
  </script>
<% end %>
