<%= form_for(@visitation_form, multipart: true) do |f| %>
    <% if @visitation_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors_in_form') %></h2>

          <ul>
            <% @visitation_form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <script type="text/javascript">
        $(function() {
            $("#visitation_form_photographer_name").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "<%= url_for(action:"getringer", controller:"api") %>.json?filter=" + $("#visitation_form_photographer_name").val(),
                        success: function( data ) {
                            if(data.ringers != ''){
                                response( $.map( data.ringers.ringer, function( item ) {
                                    return {
                                        label: item.name,
                                        value: item.id
                                    }
                                }));
                            }
                        }
                    });
                },
                minLength: 3,
                select: function( event, ui ) {
                    $("#visitation_form_photographer_id").val(ui.item.value);
                    $("#visitation_form_photographer_name").val(ui.item.label);
                    return false; // prevent jquery from setting hurr to value...
                },
                open: function() {
                    $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
                },
                close: function() {
                    $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
                }
            });
        });
    </script>

    <!--<div class="field"><br>-->
    <%#= f.label :photographer_id, t('photographer_id') %>
    <%#= f.text_field :photographer_id %>
    <!--</div>-->

    <%= f.hidden_field :photographer_id %>
    <div class="field">
      <%= f.label :photographer_name %><br>
      <%= f.text_field :photographer_name %>

      <button id="insert_name_button"><%= t('fill_own_info') %></button>

    </div>

    <div class="field">
      <%= f.label :visit_date %><br>
      <%= f.text_field :visit_date %>
    </div>

    <h2><%= t('camera_info') %></h2>

    <div class="field">
      <%= f.label :camera %><br>
      <%= f.text_field :camera %>
    </div>
    <div class="field">
      <%= f.label :lens %><br>
      <%= f.text_field :lens %>
    </div>
    <div class="field">
      <%= f.label :teleconverter %><br>
      <%= f.text_field :teleconverter %>
    </div>

    <h2><%= t('nest_info') %></h2>

    <div class="field">
      <%= f.label :nest_id %><br>
      <%= f.text_field :nest_id %>
    </div>
    <div class="field">
      <%= f.label :municipality %><br>
      <%= f.select :municipality, TipuApiHelper.GetMunicipalities.map {|v| [ v['name'][0]['content'], v['id'] ] } %>
    </div>

    <div class="field">
      <%= f.label :nest %><br>
      <%= f.text_field :nest %>
    </div>



    <h2><%= t('bird') %> 1</h2>

    <div class="field">
      <%= label_tag "visitation_form[images][bird1_info][gender]", t('gender') %>
      <%= text_field_tag "visitation_form[images][bird1_info][gender]" %>
    </div>

    <div class="field">
      <%= f.label"images[bird1][img1]", t('file') + " 1" %>
      <%= f.file_field "images[bird1][img1]" %>
    </div>

    <h2><%= t('bird') %> 2</h2>

    <div class="field">
      <%= label_tag "visitation_form[images][bird2_info][gender]", t('gender') %>
      <%= text_field_tag "visitation_form[images][bird2_info][gender]" %>
    </div>

    <div class="field">
      <%= f.label "images[bird2][img1]", t('file') %>
      <%= f.file_field "images[bird2][img1]" %>
    </div>

    <h2><%= t('young_images') %></h2>

    <div class="field">
      <%= f.label "images[young][img1]", t('file') %>
      <%= f.file_field "images[young][img1]" %>
    </div>

    <h2><%= t('nest_images') %></h2>

    <div class="field">
      <%= f.label "images[nest][img1]", t('file') %>
      <%= f.file_field "images[nest][img1]" %>
    </div>

    <h2><%= t('landscape_images') %></h2>
    <div class="field">
      <%= f.label "images[landscape][img1]", t('file') %>
      <%= f.file_field "images[landscape][img1]" %>
    </div>



    <div class="actions">
      <%= f.submit(t('save_visitation_form'), :name => 'save') %>
      <%= f.submit(t('submit_visitation_form'), :name => 'submit') %>
    </div>

    <script>
        $("#insert_name_button").on("click", function (e) {
            e.preventDefault();
            var userid = "<%= @user[:login_id] %>";
            var username = "<%= @user[:user_name] %>";
            $("#visitation_form_photographer_name").val(username + " (" + userid + ")");
            $("#visitation_form_photographer_id").val(userid);
        });

        // Forcing nest id to only numbers
        $('#visitation_form_nest_id').keyup(function() {
            this.value = this.value.replace(/\D/g, '');
        });

        $("#visitation_form_visit_date").datepicker({ dateFormat: 'dd.mm.yy', maxDate: new Date() });
    </script>
<% end %>