<h1></h1>

<table>
  <thead>
    <tr>
      <th><%= t('photographer_name') %></th>
      <th><%= t('visit_date') %></th>
      <th><%= t('nest_name') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @visitation_forms.each do |visitation_form| %>
      <tr>
        <td><%= visitation_form.photographer_name %></td>
        <td><%= visitation_form.visit_date %></td>
        <td><%= visitation_form.nest %></td>
        <td><%= link_to t('show'), visitation_form %></td>
        <td><%= link_to t('edit'), edit_visitation_form_path(visitation_form) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_visitation_form'), new_visitation_form_path %>
