


<h1><%= @header %></h1>


<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
    table.imagetable th {
        background:#b5cfd2 url(<%= asset_path 'cell-blue.jpg'%>);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }
    table.imagetable td {
        background:#dcddc0 url(<%= asset_path 'cell-grey.jpg'%>);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }
</style>

<div id="pagination">

</div>

<div class="clear"></div>

<table class="imagetable">
  <thead>
    <tr>
      <th><%= create_link t('nest_id', scope: [:activerecord, :attributes, :visitation_form]), "nest_id" %></th>
      <th><%= create_link t('nest', scope: [:activerecord, :attributes, :visitation_form]), "nest" %></th>
      <th><%= create_link t('visit_date', scope: [:activerecord, :attributes, :visitation_form]), "visit_date" %></th>
      <th><%= create_link t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]), "photographer_name" %></th>

      <% if @visitation_forms.count > 0 %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>




  <tbody>
    <% @visitation_forms.each do |visitation_form| %>

      <tr>
        <td><%= visitation_form.nest_id  %></td>
        <td><%= visitation_form.nest %></td>
        <td><%= visitation_form.visit_date.strftime("%d.%m.%Y")  unless visitation_form.visit_date.nil?  %></td>
        <td><%= visitation_form.photographer_name %></td>

        <% if @visitation_forms.count > 0 %>
            <td><%= link_to t('show'), visitation_form %></td>
            <% if @type.nil? || @type == "unsubmitted" %>
                <td><%= link_to t('edit'), edit_visitation_form_path(visitation_form) %></td>
            <% else %>
                <td></td>
            <% end %>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_visitation_form'), new_visitation_form_path %>

<script>
  $(function() {
      var count = <%= @total_visitation_forms %>;
      var current_page = <%= params[:page].nil? ? 1 : params[:page] %>
      var per_page = <%= @per_page %>;
      var sorting = "<%= @sortby_order %>";

      var pages = Math.ceil(count / per_page);

      if(pages > 1) {
          var url = "<%= url_for action:"index", type: params[:type] %>";

          if(current_page > 1) {
              $("#pagination").append('<a href="' + url + '?page=' + (current_page-1) + sorting +'">' + '<<' + '</a>');
          }

          for(var i = 0; i < pages; i++) {
              if(i == (current_page-1)) {
                $("#pagination").append('<div id="pagination-active">' + (i+1) + '</div>');
              }
              else {
                $("#pagination").append('<a href="' + url + '?page=' + (i+1) +sorting +'">' + (i+1) + '</a>');
              }
          }

          if(current_page < pages) {
              $("#pagination").append('<a href="' + url + '?page=' + (current_page+1) +sorting + '">' + '>>' + '</a>');
          }
      }
  });
</script>