


<h1><%= @header %></h1>



<div id="pagination">

</div>

<div class="clear"></div>

<table id="formList">
  <thead>
    <tr>
      <th>
        <%= t('nest_id', scope: [:activerecord, :attributes, :visitation_form]) %>
        <div>
          <%= create_link "&#9650;", "nest_id", "desc" %> <%= create_link "&#9660;", "nest_id", "asc" %>
        </div>
      </th>
      <th>
        <%= t('nest', scope: [:activerecord, :attributes, :visitation_form]) %>
        <div>
          <%= create_link "&#9650;", "nest", "desc" %> <%= create_link "&#9660;", "nest", "asc" %>
        </div>
      </th>
      <th>
        <%= t('visit_date', scope: [:activerecord, :attributes, :visitation_form]) %>
        <div>
          <%= create_link "&#9650;", "visit_date", "desc" %> <%= create_link "&#9660;", "visit_date", "asc" %>
        </div>
      </th>
      <th>
        <%= t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]) %>
        <div>
          <%= create_link "&#9650;", "photographer_name", "desc" %> <%= create_link "&#9660;", "photographer_name", "asc" %>
        </div>
      </th>

      <% if @visitation_forms.count > 0 %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>




  <tbody>
    <% @visitation_forms.each do |visitation_form| %>

      <tr>
        <td class="nestid"><%= visitation_form.nest_id  %></td>
        <td class="nestname"><%= visitation_form.nest %></td>
        <td class="visitdate"><%= visitation_form.visit_date.strftime("%d.%m.%Y")  unless visitation_form.visit_date.nil?  %></td>
        <td class="photographer"><%= visitation_form.photographer_name %></td>

        <% if @visitation_forms.count > 0 %>
            <td><%= link_to t('show'), visitation_form %></td>
            <% if @type.nil? || @type == "unsubmitted" %>
                <td><%= link_to t('edit'), edit_visitation_form_path(visitation_form) %></td>
            <% else %>
                <td></td>
            <% end %>
        <% end %>
      </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_visitation_form'), new_visitation_form_path %>

<script>
  $(function() {
      var count = <%= @total_visitation_forms %>;
      var current_page = <%= @current_page %>
      var per_page = <%= @per_page %>;
      var sorting = "&sortby=<%= @sortby %>&order=<%= @order %>";

      var pages = <%= @pages %>

      <% if @pages > 1 %>
        <% if @current_page > 1 %>
            var link = '<%= link_to "<<", action:"index", type: params[:type], page: (@current_page.to_i-1), sortby: @sortby, order: @order %>';
            $("#pagination").append(link);
        <% end %>

        <% for i in 0...@pages %>
          <% if (i+1) == @current_page %>
            $("#pagination").append('<div id="pagination-active">' + (<%=i%>+1) + '</div>');
          <% else %>
            var link = '<%= link_to (i+1).to_s, action:"index", type: params[:type], page: (i+1), sortby: @sortby, order: @order %>';
            $("#pagination").append(link);
          <% end %>
        <% end %>

        <% if @current_page < @pages %>
            var link = '<%= link_to ">>", action:"index", type: params[:type], page: (@current_page.to_i+1), sortby: @sortby, order: @order %>';
            $("#pagination").append(link);
        <% end %>
      <% end %>

  });
</script>