<h1>Lomakkeet</h1>



<style type="text/css">
    table.imagetable {
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
    }
    table.imagetable th {
        background:#b5cfd2 url(<%= asset_path 'cell-blue.jpg'%>);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }
    table.imagetable td {
        background:#dcddc0 url(<%= asset_path 'cell-grey.jpg'%>);
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #999999;
    }
</style>

<table class="imagetable">
  <thead>
    <tr>
      <th><%= t('photographer_name') %></th>
      <th><%= t('visit_date') %></th>
      <th><%= t('nest_name') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>




  <tbody>
    <% @visitation_forms.each do |visitation_form| %>

      <tr>
        <td><%= visitation_form.photographer_name %></td>
        <td><%= visitation_form.visit_date %></td>
        <td><%= visitation_form.nest %></td>
        <td><%= link_to t('show'), visitation_form %></td>
        <td><%= link_to t('edit'), edit_visitation_form_path(visitation_form) %></td>
      </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_visitation_form'), new_visitation_form_path %>
