<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('photographer_id') %>:</strong>
  <%= @visitation_form.photographer_id %>
</p>

<p>
  <strong><%= t('photographer_name') %>:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong><%= t('visit_date') %>:</strong>
  <%= @visitation_form.visit_date %>
</p>

<h2><%= t('camera_info') %></h2>

<p>
  <strong><%= t('camera') %>:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong><%= t('lens') %>:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong><%= t('teleconverter') %>:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2><%= t('nest_info') %></h2>

<p>
  <strong><%= t('nest_id') %>:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong><%= t('municipality') %>:</strong>
  <%= @visitation_form.municipality %>
</p>

<p>
  <strong><%= t('nest_name') %>:</strong>
  <%= @visitation_form.nest %>
</p>

<%= link_to t('edit'), edit_visitation_form_path(@visitation_form) %> |
<%= link_to t('back'), visitation_forms_path %>

<h2><%= t('images') %></h2>
<%= form_tag({action: :upload_image}, multipart: true) do %>
    <%= label_tag :file, t('file') %>
    <%= file_field_tag :file %>
    <%= submit_tag(t('add_file')) %>
<% end %>
<p>
  <% if @images != nil && @images.count > 0 %>
      <% @images.reverse_each do |img| %>
        <%= img[:original_filename] %> <br />
        <%= image_tag( img[:temp_path] ) %> <br /><br/>
      <% end %>
  <% end %>
</p>