<p id="notice"><%= notice %></p>

<div id="form-status-div">
      <%= t('form_status') %>
      <% if @visitation_form.approved %>
          <%= t('form_already_approved') %>
      <% elsif @visitation_form.sent %>
          <%= t('form_already_sent') %>
      <% else %>
          <%= t('form_not_sent') %>
      <% end %>
</div>

<div>
    <% if @visitation_form.approved %>

    <% elsif @visitation_form.sent %>
        <%= link_to t('unsubmit_visitation_form'), "unsubmit/" + @visitation_form.id.to_s, class: "button-link" %>
    <% else %>
        <%= link_to t('edit'), edit_visitation_form_path(@visitation_form), class: "button-link" %>
        <%= link_to t('delete'), destroy_visitation_form_url(@visitation_form), class: "button-link delete" %>
        <%= link_to t('submit_visitation_form'), "submit/" + @visitation_form.id.to_s, class: "button-link" %>
    <% end %>

    <% if @user[:type] == 'admin' && !@visitation_form.approved %>
        <%= link_to t('approve_visitation_form'), { action: "approve_form" }, class: "button-link" %>
    <% end %>
</div>


<div class="log">
    <h2><%= t('form_history') %></h2>
    <table>
      <% @visitation_form.audit_log_entries.reverse_each do |entry| %>
          <tr><td><%= entry.timestamp.strftime("%d.%m.%Y")  %></td><td><%= entry.username %></td><td><%= t(entry.operation) %></td></tr>
      <% end %>
    </table>
</div>


<h2><%= t('form_owners') %></h2>
<ul>
<% @visitation_form.owners.each do |owner| %>
    <li><%= owner.owner_name %></li>
<% end %>
</ul>

<h2><%= t('photographer_info') %></h2>
<p>
  <strong><%= t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong><%= t('visit_date', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.visit_date.strftime("%d.%m.%Y") unless @visitation_form.visit_date.nil? %>
</p>

<h2><%= t('camera_info') %></h2>

<p>
  <strong><%= t('camera', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong><%= t('lens', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong><%= t('teleconverter', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2><%= t('nest_info') %></h2>

<p>
  <strong><%= t('species_id', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.species_id %>
</p>
<p>
  <strong><%= t('nest_id', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong><%= t('municipality', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <% municipality = @municipalities.select do |m| m["id"] == @visitation_form.municipality end %>
  <% # todo currently always shows the Finnish municipality name %>
  <%= municipality[0]["name"][0]["content"] unless municipality[0].nil? %>
</p>

<p>
  <strong><%= t('nest', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest %>
</p>

<% bird_no = 1 %>
<% @visitation_form.birds.each do |bird| %>

    <h2><%= t('bird') + " " + bird_no.to_s %></h2>
    <p>
      <strong><%= t('gender') %>:</strong> <%= bird.gender %> <br />
      <strong><%= t('shyness') %>:</strong> <%= bird.shyness %> <br />
      <strong><%= t('left_ring_code') %>:</strong> <%= bird.left_ring_code %> <br />
      <strong><%= t('left_ring_color') %>:</strong> <%= bird.left_ring_color %> <br />
      <strong><%= t('right_ring_code') %>:</strong> <%= bird.right_ring_code %> <br />
      <strong><%= t('right_ring_color') %>:</strong> <%= bird.right_ring_color %> <br />
    </p>

    <% bird.images.reverse_each do |img| %>
        <%= img.filename %> <br />
        <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
    <% end %>
    <% bird_no += 1 %>
<% end %>

<h2><%= t('young_images') %></h2>
<p>
  <% @young_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>

<h2><%= t('landscape_images') %></h2>
<p>
  <% @landscape_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>

<h2><%= t('nest_images') %></h2>
<p>
  <% @nest_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>

<p>
  <strong><%= t('additional_info', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.additional_info %>
</p>

<script>
  $("a.delete").on("click", function() {
     return confirm("<%= t('confirm_delete') %>");
  });
</script>