<p id="notice"><%= notice %></p>

<p>
  <strong>This form saved by id:</strong>
  <%= @visitation_form.form_saver_id %>
</p>

<p>
  <strong>Photographer id:</strong>
  <%= @visitation_form.photographer_id %>
</p>

<p>
  <strong>Photographer name:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong>Visit date:</strong>
  <%= @visitation_form.visit_date %>
</p>

<h2>Camera info</h2>

<p>
  <strong>Camera:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong>Lens:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong>Teleconverter:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2>Nest location</h2>

<p>
  <strong>Nest id:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @visitation_form.municipality %>
</p>

<p>
  <strong>Nest name:</strong>
  <%= @visitation_form.nest %>
</p>

<%= link_to 'Edit', edit_visitation_form_path(@visitation_form) %> |
<%= link_to 'Back', visitation_forms_path %>

<h2>Kuvat</h2>
<%= form_tag({action: :upload_image}, multipart: true) do %>
    <%= label_tag :file, "Tiedosto:" %>
    <%= file_field_tag :file %>
    <%= submit_tag("Lisää tiedosto") %>
<% end %>
<p>
  <% if @images != nil && @images.count > 0 %>
      <% @images.reverse_each do |img| %>
        <%= img[:original_filename] %> <br />
        <%= image_tag( img[:temp_path] ) %> <br /><br/>
      <% end %>
  <% end %>
</p>