<% if notice %>
    <div id="error_explanation"><h2><%= notice %></h2></div>
<% end %>

<div id="form-status-div">
      <%= t('form_status') %>
      <% if @visitation_form.approved %>
          <%= t('form_already_approved') %>
      <% elsif @visitation_form.sent %>
          <%= t('form_already_sent') %>
      <% else %>
          <%= t('form_not_sent') %>
      <% end %>
</div>

<div>
    <% if @visitation_form.approved %>

    <% elsif @visitation_form.sent %>
        <%= link_to t('unsubmit_visitation_form'), "unsubmit/" + @visitation_form.id.to_s, class: "button-link" %>
    <% else %>
        <%= link_to t('edit'), edit_visitation_form_path(@visitation_form), class: "button-link" %>
        <%= link_to t('delete'), destroy_visitation_form_url(@visitation_form), class: "button-link delete" %>
        <%= link_to t('submit_visitation_form'), "submit/" + @visitation_form.id.to_s, class: "button-link" %>
    <% end %>

    <% if @user[:type] == 'admin' && !@visitation_form.approved %>
        <%= link_to t('approve_visitation_form'), { action: "approve_form" }, class: "button-link" %>
    <% end %>
</div>


<div class="log">
    <h2><%= t('form_history') %></h2>
    <table>
      <% @visitation_form.audit_log_entries.order(:timestamp).reverse_each do |entry| %>
          <tr><td><%= entry.timestamp.strftime("%d.%m.%Y")  %></td><td><%= entry.username %></td><td><%= t('log_' + entry.operation) %></td></tr>
      <% end %>
    </table>
</div>


<div class="boxed">
    <h2><%= t('form_owners') %></h2>
    <ul>
    <% @visitation_form.owners.each do |owner| %>
        <li><%= owner.owner_name %></li>
    <% end %>
    </ul>
</div>

<div class="boxed">
    <h2><%= t('visit_info') %></h2>
    <p>
      <table class="info-table">
        <tr>
          <td><strong><%= t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.photographer_name %></td>
        </tr>
        <tr>
          <td><strong><%= t('visit_date', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.visit_date.strftime("%d.%m.%Y") unless @visitation_form.visit_date.nil? %></td>
        </tr>
      </table>
    </p>
</div>

<div class="boxed">
    <h2><%= t('camera_info') %></h2>
    <p>
      <table class="info-table">
        <tr>
          <td><strong><%= t('camera', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.camera %></td>
        </tr>
        <tr>
          <td><strong><%= t('lens', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.lens %></td>
        </tr>
        <tr>
          <td><strong><%= t('teleconverter', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.teleconverter %></td>
        </tr>
      </table>
    </p>
</div>

<div class="boxed">
    <h2><%= t('nest_info') %></h2>
    <p>
      <table class="info-table">
        <tr>
          <td><strong><%= t('species_id', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td>
            <% if !@visitation_form.species_id.nil? && @visitation_form.species_id != "" %>
                <%= @tipuapi.GetSpecies["species"].select{|s| s["id"] == @visitation_form.species_id}[0]["name"].select{|s| s["lang"] == get_userlocaleforapi}[0]["content"] %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><strong><%= t('nest_id', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.nest_id %></td>
        </tr>
        <tr>
          <td><strong><%= t('municipality', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td>
            <% municipality = @tipuapi.GetMunicipalities.select do |m| m["id"] == @visitation_form.municipality end %>
            <% # todo currently always shows the Finnish municipality name %>
            <%= municipality[0]["name"][0]["content"] unless municipality[0].nil? %>
          </td>
        </tr>
        <tr>
          <td><strong><%= t('nest', scope: [:activerecord, :attributes, :visitation_form]) %></strong></td>
          <td><%= @visitation_form.nest %></td>
        </tr>
      </table>
    </p>
</div>

<% bird_no = 1 %>
<% @visitation_form.birds.each do |bird| %>
    <div class="boxed">
        <h2><%= t('bird') + " " + bird_no.to_s %></h2>
        <p>
          <table class="info-table">
            <tr>
              <td><strong><%= t('gender') %></strong></td>
              <td>
                    <% if !bird.gender.nil? && bird.gender != "" %>
                        <%= @tipuapi.GetGenders["codes"]["code"].select{|s| s["code"] == bird.gender}[0]["desc"].select{|s| s["lang"] == get_userlocaleforapi}[0]["content"] %>
                    <% end %>
              </td>
            </tr>
            <tr>
              <td><strong><%= t('gender_determination_method') %></strong></td>
              <td>
                <% if !bird.gender_determination_method.nil? && bird.gender_determination_method != "" %>
                    <%= @tipuapi.GetGenderDeterminationMethod["codes"]["code"].select{|s| s["code"] == bird.gender_determination_method}[0]["desc"].select{|s| s["lang"] == get_userlocaleforapi}[0]["content"] %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong><%= t('shyness') %></strong></td>
              <td>
                <% if !bird.shyness.nil? && bird.shyness != "" %>
                    <%= @tipuapi.GetShyness["codes"]["code"].select{|s| s["code"] == bird.shyness}[0]["desc"].select{|s| s["lang"] == get_userlocaleforapi}[0]["content"] %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong><%= t('ringed') %></strong></td>
              <td>
                <% if !bird.ringed.nil? && bird.ringed != "" %>
                    <%= @tipuapi.GetRingedStatus["codes"]["code"].select{|s| s["id"] == bird.ringed}[0]["desc"].select{|s| s["lang"] == get_userlocaleforapi}[0]["content"] %>
                <% end %>
              </td>
            </tr>
            <tr>
              <td><strong><%= t('left_ring_code') %></strong></td>
              <td><%= bird.left_ring_code %></td>
            </tr>
            <tr>
              <td><strong><%= t('left_ring_color') %></strong></td>
              <td><%= bird.left_ring_color %></td>
            </tr>
            <tr>
              <td><strong><%= t('right_ring_code') %></strong></td>
              <td><%= bird.right_ring_code %></td>
            </tr>
            <tr>
              <td><strong><%= t('right_ring_color') %></strong></td>
              <td><%= bird.right_ring_color %></td>
            </tr>
          </table>
        </p>

        <% bird.images.reverse_each do |img| %>
            <div class="image-div">
                <%= img.filename %> <br />
                <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
            </div>
        <% end %>
      <div class="clear"></div>
    </div>
    <% bird_no += 1 %>
<% end %>

<div class="boxed">
    <h2><%= t('young_images') %></h2>
    <p>
      <% @young_images.reverse_each do |img| %>
          <div class="image-div">
            <%= img.filename %> <br />
            <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
          </div>
      <% end %>
      <div class="clear"></div>
    </p>
</div>

<div class="boxed">
    <h2><%= t('landscape_images') %></h2>
    <p>
      <% @landscape_images.reverse_each do |img| %>
          <div class="image-div">
            <%= img.filename %> <br />
            <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
          </div>
      <% end %>
      <div class="clear"></div>
    </p>
</div>

<div class="boxed">
    <h2><%= t('nest_images') %></h2>
    <p>
      <% @nest_images.reverse_each do |img| %>
          <div class="image-div">
            <%= img.filename %> <br />
            <%= link_to image_tag( url_for(:controller => 'images', :action => 'thumbnail', :id => img.id) ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %>
          </div>
      <% end %>
      <div class="clear"></div>
    </p>
</div>

<div class="boxed">
    <p>
      <h2><%= t('additional_info', scope: [:activerecord, :attributes, :visitation_form]) %></h2>
      <%= @visitation_form.additional_info %>
    </p>
</div>

<script>
  $("a.delete").on("click", function() {
     return confirm('<%= t('confirm_delete') %>');
  });
</script>