<p id="notice"><%= notice %></p>

<%= t('form_status') %>
<% if @visitation_form.sent %>
    <%= t('form_already_sent') %> <br />
    <%= link_to t('unsubmit_visitation_form'), "unsubmit/" + @visitation_form.id.to_s %>
<% else %>
    <%= t('form_not_sent') %> <br />
    <%= link_to t('edit'), edit_visitation_form_path(@visitation_form) %> |
    <%= link_to t('submit_visitation_form'), "submit/" + @visitation_form.id.to_s %>
<% end %>

<p>
  <strong><%= t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong><%= t('visit_date', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.visit_date.strftime("%d.%m.%Y") %>
</p>

<h2><%= t('camera_info') %></h2>

<p>
  <strong><%= t('camera', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong><%= t('lens', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong><%= t('teleconverter', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2><%= t('nest_info') %></h2>

<p>
  <strong><%= t('nest_id', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong><%= t('municipality', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.municipality %>
</p>

<p>
  <strong><%= t('nest', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest %>
</p>

<h2><%= t('bird') %> 1</h2>
<p>
  <% if @bird1_images.count > 0 %>
    <strong><%= t('gender') %></strong> <%= @bird1_images[0][:gender] %> <br />
  <% end %>

  <% @bird1_images.reverse_each do |img| %>
    <%= img[:original_filename] %> (<%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %>)<br />
    <%= image_tag( img[:temp_path] ) %> <br /><br/>
  <% end %>
</p>

<h2><%= t('bird') %> 2</h2>
<p>
  <% if @bird2_images.count > 0 %>
      <strong><%= t('gender') %></strong> <%= @bird2_images[0][:gender] %> <br />
  <% end %>

  <% @bird2_images.reverse_each do |img| %>
      <%= img[:original_filename] %> (<%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %>)<br />
      <%= image_tag( img[:temp_path] ) %> <br /><br/>
  <% end %>
</p>

<h2><%= t('young_images') %></h2>
<p>
  <% @young_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>

<h2><%= t('landscape_images') %></h2>
<p>
  <% @landscape_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>

<h2><%= t('nest_images') %></h2>
<p>
  <% @nest_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>