<p id="notice"><%= notice %></p>

<%= t('form_status') %>
<% if @visitation_form.approved %>
    <%= t('form_already_approved') %>
<% elsif @visitation_form.sent %>
    <%= t('form_already_sent') %> <br />
    <%= link_to t('unsubmit_visitation_form'), "unsubmit/" + @visitation_form.id.to_s %>
<% else %>
    <%= t('form_not_sent') %> <br />
    <%= link_to t('edit'), edit_visitation_form_path(@visitation_form) %> |
    <%= link_to t('delete'), destroy_visitation_form_url(@visitation_form) %> |
    <%= link_to t('submit_visitation_form'), "submit/" + @visitation_form.id.to_s %>
<% end %>

<% if @user[:type] == 'admin' && !@visitation_form.approved %>
    <br /><%= link_to t('approve_visitation_form'), action: "approve_form" %>
<% end %>



<h2><%= t('form_history') %></h2>
<table>
  <% @visitation_form.audit_log_entries.reverse_each do |entry| %>
      <tr><td><%= entry.timestamp.strftime("%d.%m.%Y")  %></td><td><%= entry.username %></td><td><%= t(entry.operation) %></td></tr>
  <% end %>
</table>


<h2><%= t('form_owners') %></h2>
<ul>
<% @visitation_form.owners.each do |owner| %>
    <li><%= owner.owner_name %></li>
<% end %>
</ul>

<h2><%= t('photographer_info') %></h2>
<p>
  <strong><%= t('photographer_name', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong><%= t('visit_date', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.visit_date.strftime("%d.%m.%Y") unless @visitation_form.visit_date.nil? %>
</p>

<h2><%= t('camera_info') %></h2>

<p>
  <strong><%= t('camera', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong><%= t('lens', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong><%= t('teleconverter', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2><%= t('nest_info') %></h2>

<p>
  <strong><%= t('species_id', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.species_id %>
</p>
<p>
  <strong><%= t('nest_id', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong><%= t('municipality', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <% municipality = @municipalities.select do |m| m["id"] == @visitation_form.municipality end %>
  <% # todo currently always shows the Finnish municipality name %>
  <%= municipality[0]["name"][0]["content"] unless municipality[0].nil? %>
</p>

<p>
  <strong><%= t('nest', scope: [:activerecord, :attributes, :visitation_form]) %>:</strong>
  <%= @visitation_form.nest %>
</p>

<%= show_images = true %>
<% @visitation_form.birds.each do |bird| %>

    <h2><%= t('bird') %></h2>
    <p>
      <%= bird.gender %> <br />
      <%= bird.shyness %> <br />
    </p>

    <% if show_images %>
        <% @bird1_images.reverse_each do |img| %>
            <%= img[:original_filename] %> <br />
            <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
        <% end %>
    <% end %>

    <% show_images = false %>
<% end %>

<h2><%= t('young_images') %></h2>
<p>
  <% @young_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>

<h2><%= t('landscape_images') %></h2>
<p>
  <% @landscape_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>

<h2><%= t('nest_images') %></h2>
<p>
  <% @nest_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= link_to image_tag( img[:temp_path] ), { controller: 'images', action: 'show', id: img[:id] }, target: "_blank" %> <br />
  <% end %>
</p>