<p id="notice"><%= notice %></p>

<% if @visitation_form.sent %>
    <%= t('form_already_sent') %>
<% end %>

<p>
  <strong><%= t('photographer_name') %>:</strong>
  <%= @visitation_form.photographer_name %>
</p>

<p>
  <strong><%= t('visit_date') %>:</strong>
  <%= @visitation_form.visit_date %>
</p>

<h2><%= t('camera_info') %></h2>

<p>
  <strong><%= t('camera') %>:</strong>
  <%= @visitation_form.camera %>
</p>

<p>
  <strong><%= t('lens') %>:</strong>
  <%= @visitation_form.lens %>
</p>

<p>
  <strong><%= t('teleconverter') %>:</strong>
  <%= @visitation_form.teleconverter %>
</p>

<h2><%= t('nest_info') %></h2>

<p>
  <strong><%= t('nest_id') %>:</strong>
  <%= @visitation_form.nest_id %>
</p>

<p>
  <strong><%= t('municipality') %>:</strong>
  <%= @visitation_form.municipality %>
</p>

<p>
  <strong><%= t('nest_name') %>:</strong>
  <%= @visitation_form.nest %>
</p>

<%= link_to t('edit'), edit_visitation_form_path(@visitation_form) %> |
<%= link_to t('back'), visitation_forms_path %>

<h2><%= t('bird') %> 1</h2>
<p>
  <% if @bird1_images.count > 0 %>
    <strong><%= t('gender') %></strong> <%= @bird1_images[0][:gender] %> <br />
  <% end %>

  <% @bird1_images.reverse_each do |img| %>
    <%= img[:original_filename] %> (<%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %>)<br />
    <%= image_tag( img[:temp_path] ) %> <br /><br/>
  <% end %>
</p>

<h2><%= t('bird') %> 2</h2>
<p>
  <% if @bird2_images.count > 0 %>
      <strong><%= t('gender') %></strong> <%= @bird2_images[0][:gender] %> <br />
  <% end %>

  <% @bird2_images.reverse_each do |img| %>
      <%= img[:original_filename] %> (<%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %>)<br />
      <%= image_tag( img[:temp_path] ) %> <br /><br/>
  <% end %>
</p>

<h2><%= t('young_images') %></h2>
<p>
  <% @young_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>

<h2><%= t('landscape_images') %></h2>
<p>
  <% @landscape_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>

<h2><%= t('nest_images') %></h2>
<p>
  <% @nest_images.reverse_each do |img| %>
      <%= img[:original_filename] %> <br />
      <%= image_tag( img[:temp_path] ) %> <br />
      <%= link_to t("delete"), action: "delete", controller:"images", id: img[:id] %> <br/>
  <% end %>
</p>