<!DOCTYPE html>
<html>
<head>
  <title>Merikotkat</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%# javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
</head>




<body>
<script>
    $(function() {
        if ($("body").attr("class") === "oldie") {
            var text = 'Your browser is not supported. Please use for example Mozilla Firefox or Google Chrome (both are reccomended) or newer version of IE (10,11) (not reccomended)';
            $("html").html(text);
            alert(text);
        }

        $(".button").button();
    });
</script>

<div id="megacontainer">
  <div id="row-megacontainer">
    <div id="masthead" role="banner">
      <div id="masthead-inner">
        <!-- if devmode --><span class="devmode">TEST ENVIROMENT</span><!-- end of if devmode-->

        <!-- if user -->
        <div id="userinfo">
          <ul>
            <li><%= link_to t('logout'), {controller: 'koala_client/external_authentication', action: 'logout'},  class: 'button' %></li>
            <li><span class="name"><%= @user[:user_name] %></span> (<%= @user[:login_id] %>)</li>
          </ul>
        </div>
        <!-- end of if user -->

        <a href="https://rengastus.helsinki.fi">
          <span id="logo">&nbsp;</span>
        </a>

        <a href="<%= url_for(root_path)%>">
      <span id="sitetitle">
       <!-- <%= image_tag('linssi.png') %>  -->&nbsp; Linssi
      </span>
        </a>



        <div id="navigation-wrap" role="navigation">
          <!-- jos lokalisointia
          <nav id="utilitymenu">
                 <ul role="menu">
                  <li role="menuitem"><a href="?locale=fi">suomeksi</a></li>
                  <li role="menuitem"><a href="?locale=sv">på svenska</a></li>
                  <li role="menuitem"><a href="?locale=en">in English</a></li>
              </ul>
          </nav>
          end of jos lokalisointia -->

          <nav id="mainmenu" role="navigation">
            <ul class="nav-bar" role="menu">
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <!-- Content section -->
    <div id="main-area" role="main" >
      <div id="content-wrapper">
        <div id="sidebar">
          <ul>
            <li><%= t("forms").upcase %></li>

            <ul>
                <li>
                  <%= image_tag "folder_unsubmitted.png" %>
                  <%=link_to(t('unsubmitted') + " (" + VisitationForm.get_forms_of_type(@user, "unsubmitted", nil, nil).count.to_s + ")", {controller: 'visitation_forms', action: "index", type: "unsubmitted"})   %>
                </li>
                <li>
                  <%= image_tag "folder_submitted.png" %>
                  <%=link_to(t('submitted') + " (" + VisitationForm.get_forms_of_type(@user, "submitted", nil, nil).count.to_s + ")", {controller: 'visitation_forms', action: "index", type: "submitted"})   %>
                </li>
                <% if @user[:type] == 'admin' %>
                    <li>
                      <%= image_tag "folder_archive.png" %>
                      <%=link_to(t('archive') + " (" + VisitationForm.get_forms_of_type(@user, "archive", nil, nil).count.to_s + ")", {controller: 'visitation_forms', action: "index", type: "archive"})   %>
                    </li>
                <% end %>
              </ul>
            <li><%= link_to t("new_visitation_form").upcase, new_visitation_form_path %></li>
          </ul>
        </div>
        <div id="content" class="page-content">
          <%= yield %>
        </div>
      </div>

    </div>


  </div>
  <div id="footer">
    ölölö
  </div>
</div>

</body>
</html>
