<!DOCTYPE html>
<html>
<head>
  <title>Merikotkat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%# javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
</head>




<body>
<script>
    $(function() {
        if ($("body").attr("class") === "oldie") {
            var text = 'Your browser is not supported. Please use for example Mozilla Firefox or Google Chrome (both are reccomended) or newer version of IE (10,11) (not reccomended)';
            $("html").html(text);
            alert(text);
        }

        $(".button").button();
    });
</script>




<div id="masthead" role="banner">
  <div id="masthead-inner">

    <!-- if user -->
    <div id="userinfo">
      <ul>
        <li><a href="/logout" class="button">Kirjaudu ulos</a></li>
        <li><span class="name"><%= session[:user_name] %></span> (<%= session[:user] %>)</li>
      </ul>
    </div>
    <!-- end of if user -->

    <a href="https://rengastus.helsinki.fi">
      <div id="logo">&nbsp;</div>
    </a>

    <a href="/">
      <div id="sitetitle">
       <!-- <%= image_tag('linssi.png') %>  -->&nbsp; Linssi
      </div>
    </a>

    <!-- if devmode --><span class="devmode">TEST ENVIROMENT</span><!-- end of if devmode-->

    <div id="navigation-wrap" role="navigation">
      <!-- jos lokalisointia
      <nav id="utilitymenu">
             <ul role="menu">
              <li role="menuitem"><a href="?locale=fi">suomeksi</a></li>
              <li role="menuitem"><a href="?locale=sv">på svenska</a></li>
              <li role="menuitem"><a href="?locale=en">in English</a></li>
          </ul>
      </nav>
      end of jos lokalisointia -->

      <nav id="mainmenu" role="navigation">
        <ul class="nav-bar" role="menu">
          <li role="menuitem"><%= link_to "Listaa lomakkeet", visitation_forms_path %></li>
          <li role="menuitem"><%= link_to "Luo uusi lomake", new_visitation_form_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- Content section -->
<div id="main-area" role="main">
  <div id="content-wrapper">

    <div id="content" class="page-content">
      <%= yield %>
    </div>
    <div class="clear"></div>
  </div>
</div>


</body>
</html>
